---
title: "Word Verification"
date: 2005-10-03
url: https://projectperko.blogspot.com/2005/10/word-verification.html
labels:
  []
---

## Monday, October 03, 2005 


### Word Verification

Due to growing amounts of spam, I have turned on word verification. Irritating, but necessary.

Posted by [Craig Perko](https://www.blogger.com/profile/13173752470581218239 "author profile")  at  [8:41 AM](https://projectperko.blogspot.com/2005/10/word-verification.html "permanent link")  [!\[Image\](https://resources.blogblog.com/img/icon18\_email.gif)](https://www.blogger.com/email-post/11758224/112835413438337836 "Email Post")  [!\[Image\](https://resources.blogblog.com/img/icon18\_edit\_allbkg.gif)](https://www.blogger.com/post-edit.g?blogID=11758224&postID=112835413438337836&from=pencil "Edit Post")


#### No comments:

[Post a Comment](https://www.blogger.com/comment/fullpage/post/11758224/112835413438337836)

[Newer Post](https://projectperko.blogspot.com/2005/10/pinball.html "Newer Post")  [Older Post](https://projectperko.blogspot.com/2005/09/me-brain-hoits.html "Older Post")  [Home](https://projectperko.blogspot.com/)

Subscribe to: [Post Comments (Atom)](https://projectperko.blogspot.com/feeds/112835413438337836/comments/default)
